@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Admin background default */
body {
  background: radial-gradient(circle at top, #020617, #020617 40%, #0f172a);
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.admin-page {
  background: radial-gradient(circle at top, #020617, #020617 40%, #0f172a);
}